@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* color */

  /* type scale */
  --base-size: 1.2rem;
  --scale: 1.3;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --small: calc(var(--base-size) / var(--scale));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  padding: 0 10rem;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

/* nav */

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_main_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav_main_icon h3 {
  font-size: var(--h3);
  font-weight: 800;
  color: rgb(19, 19, 24);
  cursor: pointer;
}

.nav_main_icon h3 span {
  color: rgb(255, 84, 0);
}

.nav_main_icon img {
  width: 3rem;
  height: 3rem;
}

.nav_sub_icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav_sub_icon li {
  font-size: var(--h5);
  font-weight: 700;
  color: rgb(66, 66, 71);
  cursor: pointer;
}

.nav_sub_icon li:first-child {
  color: rgb(255, 84, 0);
}

/* hero part */

.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15rem 0;
  background-image: url("./Images/Group 13 (1) (1).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  border-radius: 1rem;
  background-color: rgba(19, 19, 24, 0.5);
}

.hero_content h1,
.hero_content p {
  text-align: center;
}

.hero_content h1 {
  font-size: var(--h1);
  color: rgb(255, 255, 255);
}

.hero_content p {
  font-size: var(--h5);
  color: rgb(255, 255, 255);
}

.input_fields {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 70%;
  backdrop-filter: blur(4px);
}

.input_fields input,
.input_fields select,
.input_fields button {
  padding: 1.5rem 0;
  width: 50%;
  border-radius: 0.5rem;
  border: none;
}

.input_fields input,
.input_fields select {
  margin-right: 1.5rem;
}

.input_fields input,
.input_fields select {
  color: rgba(19, 19, 24, 0.5);
  font-size: var(--h5);
  font-weight: 500;
  padding-left: 1rem;
}

.input_fields button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: var(--h5);
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 84, 0);
  cursor: pointer;
}

.input_fields button img {
  fill: rgb(255, 255, 255);
  text-align: center;
  width: 2rem;
  height: 2rem;
}

/* section popular_tours */

.popular_tour {
  margin: 10rem 0;
  display: flex;
  justify-content: space-between;
  /* gap: 5rem; */
  /* align-items: center; */
}

.popular_tour_content h2 {
  margin-top: 0;
  font-size: var(--h2);
}

.popular_tour_content p,
.popular_tour_content ul li {
  font-size: var(--h5);
  color: rgba(19, 19, 24, 0.8);
  line-height: 2.2rem;
}

.popular_tour_content button {
  border: none;
  padding: 1.5rem 2.5rem;
  background-color: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  border-radius: 0.8rem;
  font-size: var(--h5);
  font-weight: 500;
  margin-top: 2rem;
  cursor: pointer;
}

.popular_tour img {
  width: 45rem;
  height: 45rem;
}

/* section destination */

.destination h2,
.destination p {
  text-align: center;
}

.destination h2 {
  font-size: var(--h2);
}

.destination p {
  font-size: var(--h5);
  color: rgba(19, 19, 24, 0.8);
  line-height: 2.2rem;
}

.destination_photos{
  margin: 4rem 0;
  /* display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem; */
}

.destination_photos .row_01{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.destination_photos .row_02{
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
.destination_photos .row_03{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  column-gap: 2rem;
}

.destination_photos h4{
  font-size: var(--h4);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10rem 0;
}

.destination_photos .img_01{
  background-image: url("./Images/Rectangle 5.png");
}
.destination_photos .img_02{
  background-image: url("./Images/Rectangle 8.png");
}
.destination_photos .img_03{
  background-image: url("./Images/Rectangle 6.png");
}
.destination_photos .img_04{
  background-image: url("./Images/Rectangle 7.png");
}
.destination_photos .img_05{
  background-image: url("./Images/Rectangle 9.png");
}
.destination_photos .img_06{
  background-image: url("./Images/Rectangle 11.png");
}
.destination_photos .img_07{
  background-image: url("./Images/Rectangle 10.png");
}

.destination_photos .img_all{
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(19, 19, 24, 0.2);
}
